{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'apps/css/login.css' %}">
</head>
<body>
<div class="login-container">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <h2>Ro'yhatdan o'tish</h2>
        <h5>O'ziga hos parol o'ylab toping</h5>
        <div class="password-container">
            <input type="password" name="password" id="password" placeholder="Parol" required>
            <input type="email" name="email" hidden="hidden" value="{{ email }}">
            <i class="icon fas fa-eye" id="togglePassword"></i>
        </div>
        <button type="submit">Tasdiqlash</button>
    </form>
</div>
<script>
    // Elementlarni olish
    const passwordInput = document.getElementById('password');
    const toggleIcon = document.getElementById('togglePassword');

    // Ikonka bosilganda parol ko'rinishi/berkitilishini boshqarish
    toggleIcon.addEventListener('click', () => {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

// Ikonkani yangilash
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    });
</script>

</body>

</html>
